body{
    font-family: 'Ruda', sans-serif;
    background-color: darkslategrey;
    color: whitesmoke;
}
.topName{
    text-align: center;
}

.welcome{
text-align: center;
margin-top: 10px;
}

#content{
border: solid 5px whitesmoke;
border-radius: 20px;
}






