body{
    font-family: 'Ruda', sans-serif;
    background-color: darkslategrey;
    color: whitesmoke;
}
.topName{
    text-align: center;
}

.welcome{
text-align: center;
margin-top: 10px;
display: inline-block;
margin-right: 33%;
margin-left: 43%;
}

article{
border: solid 5px whitesmoke;
border-radius: 20px;
}

.resNav{
    display: inline-block;
    overflow: hidden;
    margin-right: 21%;
    margin-left: 25%;
}
.resNav a{
    float: right;
    color: #d9dcd6;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.resNav a:hover{
    color: deepskyblue;
}





